{% extends "layout.html" %}

{% block main %}
    <section id="text-container">
        <h1>Login</h1>
        <p>Se ainda não possuir um cadastro, <a href="/register" target="_self" id="link-register">Registre-se.</a></p>
    </section>
    <section id="form-container">   
        <h2>Realize seu login</h2>
        <form action="/login" method="post">
            <label for="emailUser">Email</label>
            <input type="email" name="emailUser" id="email-user" autocomplete="email" required autofocus>
            <label for="passwordUser">Senha</label>
            <input type="password" name="passwordUser" id="password-user" autocomplete="current-password" required>
            <button type="submit">Login</button>
        </form>
    </section>
{% endblock %}