{% extends "layout.html" %}
 
{% block main %}
    <section id="text-container">
        <h1>Cadastro</h1>
        <p>Se você já possui um cadastro, realize seu <a href="/login" target="_self">Login.</a></p>
    </section>
    <section id="form-container">   
        <h2>Realize seu login</h2>
        <form action="/register" method="post">
            <label for="nameUser">Nome</label>
            <input type="text" name="nameUser" id="name-user" autofocus autocomplete="off" required>
            <label for="emailUser">Email</label>
            <input type="email" name="emailUser" id="email-user" autocomplete="email" required>
            <label for="passwordUser">Senha</label>
            <input type="password" name="passwordUser" id="password-user" autocomplete="new-password" required>
            <label for="confirmPasswordUser">Confirme sua Senha</label>
            <input type="password" name="confirmPasswordUser" id="confirm-password-user" autocomplete="new-password" required>
            <button type="submit">Registre-se</button>
        </form>
    </section>
{% endblock %}